@using MauiApp8.Components.Layout
@inherits LayoutComponentBase

<div class="empty-layout">
    @Body
</div>

<style>
    .empty-layout {
        min-height: 100vh;
        background: var(--bg);
        display: flex;
        flex-direction: column;
    }
</style>
